<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="
background: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url('assets/img/desk.jpeg');
background-size: cover;
background-repeat: no-repeat;
">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Steemit Editor</h1>
          <hr class="small">
          <span class="subheading">
              Your new tool for writing on Steemit.
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2>Stories (4)</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div class="post-preview">
        <a href="/story">
          <h2 class="post-title">
            title
          </h2>
          <h3 class="post-subtitle">
            subtitle
          </h3>
        </a>
        <p class="post-meta">Posted on createdAt</p>
        <hr>
      </div>


      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>